@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --left-bg-color: rgba(60, 107, 80, 0.5);
    --right-bg-color: rgba(110, 118, 145, 0.5);
    --right-btn-hover-color: rgb(76, 75, 168);
    --left-btn-hover-color: rgb(68, 122, 68);
    --hover-width: 75%;
    --other-width: 25%;
    --speed: 1000ms;
    --hover-height: 75%;
    --other-height: 25%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    font-size: 3rem;
    color: white;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translateX(-50%);
    white-space: nowrap;
}

h2 {
    color: white;
    font-size: 1.5rem;
    margin-left: 10px;
}

img {
    max-width: 100%;
}

figure {
    margin: 0 0 0 40px;
    width: 3.125em;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    background-color: rgb(82, 87, 85);
    width: 100%;
    height: 60px;
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: auto;
}

.nav-toggle {
    visibility: hidden;
}

.nav-list {
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 10px;
    width: 40%;
}

.nav-item {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

.nav-item:hover {
    text-decoration: underline;
}

.contact {
    background-color: rgb(28, 54, 28);
    border: white solid 1px;
    border-radius: 30px;
    margin-right: 10px;
    padding: 5px 10px;
}

.contact:hover {
    background-color: rgb(89, 119, 94);
    text-decoration-color: rgb(89, 119, 94);
}

.btn {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: 40%;
    transform: translateX(-50%);
    text-decoration: none;
    color: white;
    border: white solid 0.2rem;
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
    width: 15rem;
    padding: 1.5rem;
}

.split.left .btn:hover {
    background-color: var(--left-btn-hover-color);
    border-color: var(--left-btn-hover-color);
}

.split.right .btn:hover {
    background-color: var(--right-btn-hover-color);
    border-color: var(--right-btn-hover-color);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #333;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.split.left {
    left: 0;
    background: url('https://images.unsplash.com/photo-1558872953-9bd42d7ecc01?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTd8fGJhY2t5YXJkJTIwZ2FyZGVufGVufDB8fDB8fHww&auto=format&fit=crop&w=400&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.left::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--left-bg-color);
}

.split.right {
    right: 0;
    background: url('https://images.unsplash.com/photo-1527359443443-84a48aec73d2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8YmFja3lhcmQlMjBnYXJkZW58ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=400&q=60');
    background-repeat: no-repeat;
    background-size: cover;
}

.split.right::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--right-bg-color);
}

.split.right, .split.left, .split.right::before, .split.left::before {
    transition: all var(--speed) ease-in-out;
}

.hover-left .left {
    width: var(--hover-width);
}

.hover-left .right {
    width: var(--other-width);
}

.hover-right .right {
    width: var(--hover-width);
}

.hover-right .left {
    width: var(--other-width);
}

@media(max-width: 1024px) {
    h1 {
        font-size: 2rem;
        top: 30%;
    }

    .btn {
        padding: 1.2rem;
        width: 12rem;
    }
}

@media(max-width: 900px) {
    h1 {
        top: 20%;
    }

    .btn {
        transform: translate(-50%, 30%);
    }

    .nav-list {
        padding: 0;
        width: auto;
    }

    .nav-item {
        margin-right: 20px;
    }

    .split {
        position: relative;
        width: 100%;
        height: 50%;
    }

    .hover-left .left, .hover-left .right, .hover-right .right, .hover-right .left {
        width: 100%;
    }

    .hover-left .left {
        height: var(--hover-height);
    }
    
    .hover-left .right {
        height: var(--other-height);
    }
    
    .hover-right .right {
        height: var(--hover-height);
    }
    
    .hover-right .left {
        height: var(--other-height);
    }

}

@media(max-width: 698px) {
    figure {
        margin-left: 20px;
    }

    .nav {
        height: auto;
        position: relative;
    }

    .logo {
        justify-content: flex-start;
    }
    
    .nav-toggle {
        cursor: pointer;
        border: 0;
        width: 3rem;
        height: 3rem;
        padding: 0em;
        background:  rgb(82, 87, 85);
        color: white;
        transition: opacity 250ms ease;
        position: absolute;
        right: 20px;
        visibility: visible;
      }
      
      .nav-toggle:focus,
      .nav-toggle:hover {
        opacity: 0.70;
      }
      
      .hamburger {
        width: 50%;
        position: relative;
      }
      
      .hamburger,
      .hamburger::before,
      .hamburger::after {
        display: block;
        margin: 0 auto;
        height: 3px;
        background: white;
      }
      
      .hamburger::before,
      .hamburger::after {
        content: "";
        width: 100%;
      }
      
      .hamburger::before {
        transform: translateY(-6px);
      }
      
      .hamburger::after {
        transform: translateY(3px);
      }
      
      .nav-list {
        visibility: hidden;
        height: auto;
        width: 100%;
        position: fixed;
        top: 68px;
        background-color: rgb(82, 87, 85);
        right: 0;
        padding: 0 0 10px 40px;
        margin: 0;
        text-align: center;
        z-index: 9999;
      }
      
      .visible {
        visibility: visible;
        height: auto;
      }
}

@media(max-width: 400px) {
    h1 {
        font-size: 1.45rem;
        top: 25%;
    }
    
    h2 {
        font-size: 1.25rem;
    }

    figure {
        margin-left: 5px;
    }

    .nav-toggle {
        width: 2.5rem;
        height: 2.5rem;
        right: 8px;
    }

    .nav-list {
        padding-left: 15px;
        top: 56px;
    }

    .nav-item {
        font-size: smaller;
        margin-right: 15px;
    }
}